<div class="div0">
    <div class="div1">
     <p class="div2">How to donate <img src="https://media.istockphoto.com/vectors/drop-vector-id1081786788?k=20&m=1081786788&s=612x612&w=0&h=LbVZIIk-YIkPU2z3smmTa5XhniEkZqZd1i9vRhVk5TA="height="40cm" width="40cm"></p>
     <img src="https://media.istockphoto.com/vectors/donor-typography-banner-template-volunteers-donating-blood-in-vector-vector-id1372703372?k=20&m=1372703372&s=612x612&w=0&h=O4EIRHCmhy5hUgP6y5CI9qy9HjEgwOAUf7pZFO5TUdI=" height="200cm" width="1330cm">
     <p class="p1">Thank you for your humanitarian gesture to donate blood.</p>
<p class="p2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    You may please visit a Clinical Laboratory center and identify your blood group.
     The clinical test will cost you just $50-60. The result shall be provided within 2 hours time.
      In case you wish to donate blood now, please visit your nearest Blood Collection Center.
</div> 
</div>