
<div class="section-header-description">
    <h2 id="h"> Our Work</h2>
<div id="para2">
<img src="https://bloodbank-iwpda.herokuapp.com/blyat.JPG" height="80cm" width="1330cm">
</div>
    <div id="p1">Blood Point volunteers and staff work to deliver vital services – from providing relief and support to those in crisis, to helping you be prepared to respond in emergencies.</div>
  </div>
  <div class="sec">
  <div id="sec1">
          <div class="container-fluid main-content">
              <div class="row justify-content-center">
                  <div class="col-12">
                      <div class="row">
                          <div class="par-50 col-md-6 section-par two-col-50-50 par-1">   
      <div class="listwithicon parbase">
  <div class="icon-list-main" data-context="icon-list-main">
          <div class="list-row transparent">
              <div class="image-content">
                  <img loading="lazy" class="icon-list-image" src="https://www.redcross.org/content/dam/redcross/about-us/about-us-icons/ERV-80x80-G-RC.png.transform/282/q70/feature/image.png">
              </div>
              <div class="content content-block text">
                  <div data-aa-icon-list="icon:about us:our work:Disaster Relief::">
                      <p><a href="/about-us" target="Target" data-di-id="di-id-b39a0843-3763eefa"><b>Disaster Relief</b></a><br>
  Learn how we help families and communities recover from disasters</p>
  
                  </div>
              </div>
          </div>
      
          <div class="list-row transparent">
              <div class="image-content">
                  <img loading="lazy" class="icon-list-image" src="https://www.redcross.org/content/dam/redcross/about-us/about-us-icons/Blood-Donation-80x80-G-RC.png.transform/282/q70/feature/image.png">
              </div>
              <div class="content content-block text">
                  <div data-aa-icon-list="icon:about us:our work:Lifesaving Blood::">
                      <p><a href=""><b>Lifesaving Blood</b></a><br>
  Learn about our blood donation processes, requirements, hosting opportunities and more</p>
  
                  </div>
              </div>
          </div>
      
          <div class="list-row transparent">
              <div class="image-content">
                  <img loading="lazy" class="icon-list-image" src="https://www.redcross.org/content/dam/redcross/about-us/about-us-icons/Training-80x80-G-RC.png.transform/282/q70/feature/image.png">
              </div>
              <div class="content content-block text">
                  <div data-aa-icon-list="icon:about us:our work:Training and Certification::">
                      <p><a href="/about-us" target="Target" data-di-id="di-id-990f3176-f9c58cdb"><b>Training &amp; Certification</b></a><br>
  Learn about our health &amp; safety courses for individuals and companies</p>
  
                  </div>
              </div>
            </div>
  </div>
  </div>
  </div>
    <div class="par-50 col-md-6 section-par two-col-50-50 par-2">      
    <div class="listwithicon parbase">
  <div class="icon-list-main" data-context="icon-list-main">
   <div class="list-row transparent">
              <div class="image-content">
                  <img loading="lazy" class="icon-list-image" src="https://www.redcross.org/content/dam/redcross/about-us/about-us-icons/World-Map-80x80-G-RC.png.transform/282/q70/feature/image.png">
              </div>
              <div class="content content-block text">
                  <div data-aa-icon-list="icon:about us:our work:International Services::">
                      <p><a href="/about-us" target="Target" data-di-id="di-id-3d876cb3-51d44dce"><b>International Services</b></a><br>
  Learn how we deliver aid and support programs around the world</p>
  
                  </div>
              </div>
          </div>
      
          <div class="list-row transparent">
              <div class="image-content">
                  <img loading="lazy" class="icon-list-image" src="https://www.redcross.org/content/dam/redcross/about-us/about-us-icons/Dog-Tags-80x80-G-RC.png.transform/282/q70/feature/image.png">
              </div>
              <div class="content content-block text">
                  <div data-aa-icon-list="icon:about us:our work:Military Families::">
                      <p><a href="/about-us" target="Target" data-di-id="di-id-90abc53-fab940e"><b>Military Families</b></a><br>
  Learn how we help service members, veterans and their families</p>
                   </div>
              </div>
          </div>
        </div>
  </div>
  </div></div>
                  </div>
              </div>   
          </div>
      </div>
  </div>