
<div class="container">
    <p id="p1">Download the Blood Donor App Today</p>
    <div class="row">
      <div class="col-lg-5">
        <img src="https://media.istockphoto.com/vectors/blood-donationorgan-transplantation-laboratory-mobile-app-page-vector-id1385424652?k=20&m=1385424652&s=612x612&w=0&h=jRsHMJo4BdFjX-OW5PPwg_awkfKbx7C-NIuJ4NYyYxw=" height="250cm" width="500cm">
      </div>
      <div class="col-lg-6">
        <img src="https://media.istockphoto.com/vectors/code-abstract-vector-modern-bar-code-sample-for-smartphone-scanning-vector-id1095468748?k=20&m=1095468748&s=612x612&w=0&h=QkNgbB839T27QTYllcNKGtTDQj8pgEQ5rjKs62HFXs4=" height="250cm" width="500cm">
      </div>
      <p id="p2">
        Schedule blood donations quickly and easily right from the palm of your hand.
     </p>
     <p id="p1">
        Schedule and Manage Appointments</p>
        <p id="p2">Find local blood drives and donation centers quickly and easily right from the palm of your hand. The app makes scheduling and rescheduling appointments easy and convenient.
         </p>
     <div class="col-lg-5">
        <img src="https://www.istockphoto.com/search/assets/static/app_store_badge_en-15f01eefb2013206cc7e.svg" height="100cm" width="200cm">
      </div>
      <div class="col-lg-6">
        <img src="https://www.istockphoto.com/search/assets/static/play_store_badge_en-4a10828f02880bbae48d.svg" height="100cm" width="200cm">
      </div>
</div>
