.text-center{
    font-weight: bold;
}
.blood 
{
    padding: 10px 5px;
} 
.blood img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.blood h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}