<div class="container">
    <h3>Universal Donors and Recipients
        <img src="https://media.istockphoto.com/vectors/drop-vector-id1081786788?k=20&m=1081786788&s=612x612&w=0&h=LbVZIIk-YIkPU2z3smmTa5XhniEkZqZd1i9vRhVk5TA="height="40cm" width="40cm"></h3>
    <p>The most common blood type is O, followed by type A. </p>
    <p>Type O individuals are often called "universal donors" since their blood can be transfused into
        persons with any blood type. Those with type AB blood are called "universal recipients" because they can
        receive blood of any type.</p>
    <p>However, since approximately twice as many people in the general population have O and A blood types,
        a blood bank's need for this type of blood increases exponentially.</p>
    
    <img src="https://media.istockphoto.com/photos/blood-type-concepts-picture-id1091195218?k=20&m=1091195218&s=612x612&w=0&h=vFm5zS6aU4b5GwrAs8gP5P2Af15cm7icIY1wfPOVwJ4="height="200cm" width="500cm">
    <h3>DO donate blood, only if you satisfy all of the following conditions
        <img src="https://media.istockphoto.com/vectors/drop-vector-id1081786788?k=20&m=1081786788&s=612x612&w=0&h=LbVZIIk-YIkPU2z3smmTa5XhniEkZqZd1i9vRhVk5TA="height="40cm" width="40cm">
    </h3>
    <table id="table1">
        <tbody>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/do.png" width="10" height="10"></td>
                <td>You are between age group of 18-60 years.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/do.png" width="10" height="10"></td>
                <td>Your weight is 45 kgs or more.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/do.png" width="10" height="10"></td>
                <td>Your hemoglobin is 12.5 gm% minimum.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/do.png" width="10" height="10"></td>
                <td>Your last blood donation was 3 or more months earlier.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/do.png" width="10" height="10"></td>
                <td>You are healthy and have not suffered from malaria, typhoid or other
                    transmissible disease in the recent past.</td>
            </tr>
        </tbody>
    </table>
    <h3>DO NOT donate blood, if you have any of the following conditions
        <img src="https://media.istockphoto.com/vectors/drop-vector-id1081786788?k=20&m=1081786788&s=612x612&w=0&h=LbVZIIk-YIkPU2z3smmTa5XhniEkZqZd1i9vRhVk5TA="height="40cm" width="40cm">

    </h3>
    <table id="table2">
        <tbody>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/dont.png" width="10" height="10"></td>
                <td>Cold / fever in the past 1 week.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/dont.png" width="10" height="10"></td>
                <td>Under treatment with antibiotics or any other medication.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/dont.png" width="10" height="10"></td>
                <td>Cardiac problems, hypertension, epilepsy, diabetes (on insulin therapy), history
                    ofcancer, chronic kidney or liver disease, bleeding tendencies, venereal disease etc.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/dont.png" width="10" height="10"></td>
                <td>Major surgery in the last 6 months.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/dont.png" width="10" height="10"></td>
                <td>Vaccination in the last 24 hours.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/dont.png" width="10" height="10"></td>
                <td>Had fainting attacks during last donation.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/dont.png " width="10" height="10"></td>
                <td>Have regularly received treatment with blood products.</td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/dont.png" width="10" height="10"></td>
                <td>Shared a needle to inject drugs/ have history of drug addiction. </td>
            </tr>
            <tr>
                <td><img src="https://bloodbank-iwpda.herokuapp.com/dont.png" width="10" height="10"></td>
                <td>Been tested positive for antibodies to HIV.</td>
            </tr>
        </tbody>
    </table>
    <h3>Blood Bank<img src="https://media.istockphoto.com/vectors/drop-vector-id1081786788?k=20&m=1081786788&s=612x612&w=0&h=LbVZIIk-YIkPU2z3smmTa5XhniEkZqZd1i9vRhVk5TA="height="40cm" width="40cm">
    </h3>
    <img src="https://media.istockphoto.com/photos/three-cute-technicians-in-laboratory-of-blood-bank-picture-id623589310?k=20&m=623589310&s=612x612&w=0&h=QVUTxN6Sy-DdjU7N-tfzslEp-ot3u4h3_x2CPG-bkTU="height="200cm" width="500cm">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A blood bank is a place designed especially for the storage of blood and blood products. Large
        coolers hold these products at a constant temperature and they are available at a moment's notice.</p>
    <h3>About Blood Donation
        <img src="https://media.istockphoto.com/vectors/drop-vector-id1081786788?k=20&m=1081786788&s=612x612&w=0&h=LbVZIIk-YIkPU2z3smmTa5XhniEkZqZd1i9vRhVk5TA="height="40cm" width="40cm">
    </h3>
    <img src="https://media.istockphoto.com/vectors/blood-donor-icon-vector-id1201090898?k=20&m=1201090898&s=612x612&w=0&h=5H8c1HAhkk7qyZ07RtjEEQxFwUPmQSk7h2uz3irL25Q="height="200cm" width="600cm">
   
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Donating blood is a life saving measure especially when you have a rare blood type. Blood donation
        is safe and simple. It takes only about 10 minutes to donate blood - less than the time of an average
        telephone call.We can save upto 3 to 4 precious lives by donating blood.</p>
    <h3>World Blood Donor Day
        <img src="https://media.istockphoto.com/vectors/drop-vector-id1081786788?k=20&m=1081786788&s=612x612&w=0&h=LbVZIIk-YIkPU2z3smmTa5XhniEkZqZd1i9vRhVk5TA="height="40cm" width="40cm">
    </h3><img src="https://media.istockphoto.com/vectors/vector-illustration-set-of-blood-drop-character-blood-donation-cute-vector-id1306584978?k=20&m=1306584978&s=612x612&w=0&h=lJMOSQDtpfau8_41kIP0AwnvC_YPSv2GmR42c4HHLfA="height="150cm" width="700cm">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; World Blood Donor Day is celebrated on <b>14 June</b>.This day is celebrated every year to spread awareness about the significance of blood donation and to recognise the contribution 
        of voluntary unpaid blood donors in saving lives.</p>
</div>
