<div class="container-fluid footer" id="foot"> 
    <div class="row">
         <div class="col-lg-6">
              <h3 id="h"><i class="bi bi-droplet-half"></i> |© 2022 Copyright| Naga Priya Mu |
               <i class="bi bi-droplet-half"></i></h3>
             </div>
             <div class="col-lg-4" id="img" >
                <a routerLink="">Home</a>
                 <a routerLink="about">About</a>
                 <a routerLink="contactus">Contact</a>
                 <a routerLink="">Help</a>
                 <a routerLink="download">Download</a>
                 </div>
                 <div class="col-lg-2" id="img" >
                  <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>&nbsp;
                  <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>&nbsp;
                  <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>&nbsp; 
                  
</div>
</div></div>